<h1>This is for assingement purpose</h1>
 <form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="csvfile" placeholder="select your file">
    <select id="curr" name="currency">
        <option value="USD" selected="selected">USD</option>
        <option value="MYR">MYR</option>
        <option value="AED">AED</option>
        <option value="CAD">CAD</option>
        <option value="GBP">GBP</option>
        <option value="AED">AED</option>
        <option value="EUR">EUR</option>
        <option value="SGD">SGD</option>
        <option value="DKK">DKK</option>
        <option value="INR">DKK</option>
      </select>
      <input type="submit"  name="submit"> 
</form> 